﻿<!DOCTYPE html>

<html>
    <head>
        <title>Aksjer</title>
        <script src="~/Scripts/jquery-1.6.4.min.js"></script>
        <script src="~/Scripts/jquery.signalR-1.1.3.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script type="text/javascript">
            $(function() {
                var stockHub = $.connection.stockHub;

                stockHub.client.setStocks = function(stocks) {
                    $.each(JSON.parse(stocks), function (i, item) {
                        console.log(item);
                        $('#stockList').append($('<tr>').html('<td>' + item.Ticker + '</td><td>' + item.Name + '</td><td>' + item.Price + '</td><td>' + item.PreviousPrice + '</td>'));
                    });
                };

                stockHub.client.updateStock = function(stock) {

                };

                $.connection.hub.start().done(function() {
                    stockHub.server.getStock();
                });
            });
        </script>
    </head>
    <body>
        <div>
            <h2>Aksjer:</h2>
            <table id="stockList">
                <tr id="header">
                    <td>Ticker</td>
                    <td>Namn</td>
                    <td>Verdi</td>
                    <td>Forrige verdi</td>
                </tr>
            </table>
        </div>
    </body>
</html>